@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";

.cinema-component {
    .cinema-content {
        background-color: $color-black-1;
    }

    .cinema__brand {
        position: relative;

        ul {
            display: flex;
            justify-content: center;

            &::after {
                content: "";
                display: block;
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
                border-bottom: 1px solid $color-white-default;
            }
        }
       
        img {
            width: 50px;
            height: 50px;
            margin-bottom: rem(10);
        }

        li {
            padding: rem(15) rem(30);
            text-align: center;
            cursor: pointer;
            filter: grayscale(1);
            transition: 0.2s; 

            &.active {
                filter: grayscale(0);
            }

            &:hover {
                filter: grayscale(0);
                transform: scale(1.2);
            }
        }
    }

    .scrollbarCinema {
        height: 950px;
        overflow-y: scroll;
    }

    .styleScrollBar::-webkit-scrollbar {
        width: 5px;
        border-radius: 5px;
    }

    .styleScrollBar::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .cinema__detail {
        padding: rem(50);
       

        .cinema__address {
            .cinema__addressItem {
                background-color: $color-background-default;
                padding: rem(15);
                margin-bottom: rem(25);
                text-align: center;
                
                .inside {

                    img {
                        width: rem(80);
                        height: rem(80);
                        border-radius: 50%;
                    }

                    .inside-text {
                        margin-top: rem(10);

                        .title {
                            color: $color-white-default;
                            font-size: rem(16);
                        }

                        p {
                            color: $color-grey-1;
                            font-size: rem(12);
                        }
                    }
                }

                .detail {
                    font-size: rem(14);
                    font-weight: bold;
                    text-align: center;
                    padding: rem(5) 0;
                    border: 1px solid $color-green-0;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: all 0.2s;

                    &:hover {
                        background-color: $color-green-0;
                        color: $color-black-0;
                    }
                }
            }
        }

        .cinema__showtime {
            padding-left: rem(30);

            .cinema__showtimeItem {
                margin-bottom: rem(60);

                .inside-img {
                    img {
                        width: 100%;
                        background-size: cover;
                    }
                }

                .inside-text {
                    .film-type {
                        margin-bottom: rem(10);    
                        

                        .film-version {
                            border: 1px solid $color-green-0;
                            padding: rem(3) rem(5);
                            margin-right: rem(10);
                            display: inline-block;
                        }
    
                        .film-rating {
                            padding: rem(3) rem(5);
                            border: 1px solid $color-red-0;
                            color: $color-red-0;
                            display: inline-block;
                        } 
                    }

                    p {
                        margin-bottom: 0;
                    }
                }

                .cinema__timedetail {
                    margin-top: rem(15);

                    li {
                        display: inline-block;
                        position: relative;
                        z-index: 10;
                        text-align: center;
                        cursor: pointer;
                        width: rem(70);
                        height: rem(35);
                        line-height: rem(35);
                        margin-right: rem(10);
                        margin-bottom: rem(10);
                        transition: 0.2s;

                        &::before {
                            content: '';
                            width: calc(100% - 12px);
                            height: calc(100% - 6px);
                            border: 1px solid $color-black-0;
                            position: absolute;
                            top: 3px;
                            left: 6px;
                        }

                        &::after {
                            content: '';
                            width: 100%;
                            height: 100%;
                            background-image: url(/images/ticket-brown.png);
                            background-repeat: no-repeat;
                            -webkit-background-size: rem(100) rem(45);
                            background-size: cover;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: -1;
                        }

                        a {
                            color: $color-black-0;
                        }
                    }
                }
            }
        }
    }
}