@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";

.mobileapp-component {
    background-image: url(/images/backapp.jpg);
    color: $color-white-default;

    .mobileapp__content {
        padding: rem(50) rem(0);
    }

    .mobileapp__left {
        h2 {
            color: $color-white-default;
            font-weight: 700;
            font-size: rem(28);
            margin-bottom: 10px;
        }

        p {
            font-size: rem(16);
            margin-bottom: 10px;
        }

        button {
            background-color: #fb4226;
            padding: 10px 20px;
            font-size: rem(16);
            font-weight: 700;
            border: none;
            border-radius: 4px;
        }

        .textApp {
            padding-top: 10px;

            .version {
                color: $color-white-default;
                border-bottom: 1px solid #fff;
            }
        }

    }

    .mobileapp__right {
        text-align: center;
        position: relative;

        img {
            height: 400px;
        }

        .mobileapp__slider {
            width: 100%;
            max-width: 186px;
            position: absolute;
            top: 0;
            
            img {
                
            }
        }


    }
}