@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";

.mobileapp-component {
    background-image: url(/images/backapp.jpg);
    color: $color-white-default;

    .mobileapp__content {
        .row {
            align-items: center;
        }
    }

    .mobileapp__left {
        h3 {
            color: $color-white-default;
            font-weight: 700;
        }

        button {
            background-color: #fb4226;
            padding: 10px 20px;
            font-size: rem(16);
            font-weight: 700;
            border: none;
            border-radius: 4px;
        }

        .download {
            margin-top: rem(20);

            .version {
                margin-right: 10px;

                img {
                    width: rem(140);
                }
            }
        }

    }

    .mobileapp__right {
        text-align: center;
        position: relative;

        img {
            // padding: 0 28%;
            height: 420px;
        }

        .mobileapp__slider {
            width: 100%;
            position: absolute;
            top: -3px;
            left: 0;
            padding: 2% 29% 0 29%;
            
            .slick-list {
                border-radius: 25px;
                height: 406px;
            }

            img {
                width: 100%;
            }    
        }
    }
}