@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";

.mobileapp-component {
    background-image: url(/images/backapp.jpg);
    color: $color-white-default;

    .mobileapp__content {
        padding: rem(50) rem(0);
    }

    .mobileapp__left {
        h2 {
            color: $color-white-default;
            font-weight: 700;
            font-size: rem(28);
            margin-bottom: 10px;
        }

        p {
            font-size: rem(16);
            margin-bottom: 10px;
        }

        button {
            background-color: #fb4226;
            padding: 10px 20px;
            font-size: rem(16);
            font-weight: 700;
            border: none;
            border-radius: 4px;
        }

        .textApp {
            padding-top: 10px;

            .version {
                color: $color-white-default;
                border-bottom: 1px solid #fff;
            }
        }

    }

    .mobileapp__right {
        text-align: center;
        position: relative;

        img {
            // padding: 0 28%;
            height: 420px;
        }

        .mobileapp__slider {
            width: 100%;
            position: absolute;
            top: -3px;
            left: 0;
            padding: 2% 32.5% 0 32.5%;
            
            .slick-list {
                border-radius: 25px;
                height: 406px;
            }

            img {
                width: 100%;
            }    
        }


    }
}