@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";


.detailFilm-component {
    background-image: url(/images/black-wall.jpg);
    background-size: cover;
    background-attachment: fixed;

    .container {
        background-color: rgba(0,0,0,0.5);
    }

    .detailFilm__showtimes {
        .detailFilm__brand {
            ul {
                display: flex;
                margin-left: -30px;
            }
           
            img {
                width: 50px;
                height: 50px;
                margin-bottom: rem(10);
            }
    
            li {
                padding: rem(15) rem(30);
                text-align: center;
            }
        }

        .detailFilm__day {
            p {
                width: rem(65);
                height: rem(65);
                text-align: center;
                font-size: rem(18);
                

                span {
                    display: inline-block;
                    width: 100%;
                    font-size: 14px;
                    line-height: 30px;
                    height: 26px;
                    margin-bottom: 8px;
                }
            }
            
            ul {
                display: flex;
            }

            li.active {
                p {
                    background: #fff;
                    border-radius: 5px;
                    color: black;
                    font-weight: bold;

                    span {
                        background: #ff4444;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                }
            }
        }
    

        .detailFilm__time {
            .detailFilm__left {
                .detailFilm__leftItem {
                
                    .inside {
                        .title {
                            color: $color-white-default;
                        }
                    }
                }
            }

            .detailFilm__right {
                .detailFilm__rightItem {
                    .cinema__timedetail {
                        margin-top: rem(15);

                        li {
                            display: inline-block;
                            a {
                                display: block;
                                font-size: 20px;
                                color: $color-grey-1;
                                width: 100px;
                                text-align: center;
                                background: black;
                                border: 2px solid black;
                                margin-right: rem(10);
                                margin-bottom: rem(10);
                            }
                        }
                    }
                }
            }
        }
    }
}