@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";


.detailFilm-component {
    background-image: url(/images/movie-details-bg.jpg);
    background-size: cover;
    background-attachment: fixed;

    .container {
        // background-color: rgba(0,0,0,0.5);
    }

    .detailFilm__info {
        .detailFilm__infoRight {
            .film-name {
                color: $color-white-default;
                text-transform: uppercase;
            }

            ul {
                label {
                    width: rem(100);
                }
            }
        }
    }

    .detailFilm__showtimes {
        .detailFilm__brand {
            margin-bottom: rem(30);
            
            ul {
                display: flex;
                margin-left: -30px;
            }
           
            img {
                width: 50px;
                height: 50px;
                margin-bottom: rem(10);
            }
    
            li {
                padding: rem(15) rem(30);
                text-align: center;
                cursor: pointer;
                filter: grayscale(1);
                transition: 0.2s; 

                &.active {
                    filter: grayscale(0);
                }

                &:hover {
                    filter: grayscale(0);
                    transform: scale(1.2);
                }
            }
        }

        .detailFilm__day {
            margin-bottom: rem(30);

            p {
                width: rem(65);
                height: rem(65);
                text-align: center;
                font-size: rem(18);
                

                span {
                    display: inline-block;
                    width: 100%;
                    font-size: 14px;
                    line-height: 30px;
                    height: 26px;
                    margin-bottom: 8px;
                }
            }
            
            ul {
                display: flex;
            }

            li {
                cursor: pointer;
            }

            li.active {
                p {
                    background: #fff;
                    border-radius: 5px;
                    color: black;
                    font-weight: bold;

                    span {
                        background: #ff4444;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                }
            }
        }
    

        .detailFilm__time {
            .detailFilm__timeItem {
                margin-bottom: rem(30);
            }

            .detailFilm__left {
                .detailFilm__leftItem {
                
                    .inside {
                        .title {
                            color: $color-white-default;
                            margin-bottom: 0;
                            font-size: rem(16);
                        }
                    }
                }
            }

            .detailFilm__right {
                padding-right: rem(150);

                .detailFilm__rightItem {
                    .cinema__timedetail {
                        li {
                            display: inline-block;
                            position: relative;
                            z-index: 10;
                            text-align: center;
                            cursor: pointer;
                            width: 90px;
                            height: 40px;
                            line-height: 40px;
                            margin-right: 10px;
                            margin-bottom: 10px;
                            transition: 0.2s;

                            &::before {
                                content: '';
                                width: calc(100% - 12px);
                                height: calc(100% - 6px);
                                border: 1px solid $color-black-0;
                                position: absolute;
                                top: 3px;
                                left: 6px;
                            }

                            &::after {
                                content: '';
                                width: 100%;
                                height: 100%;
                                background-image: url(/images/ticket.png);
                                background-repeat: no-repeat;
                                -webkit-background-size: 100px 45px;
                                background-size: cover;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: -1;
                            }

                            a {
                                color: $color-black-0;
                                // display: block;
                                // font-size: 20px;
                                // color: $color-grey-1;
                                // width: 100px;
                                // text-align: center;
                                // background: black;
                                // border: 2px solid black;
                                // margin-right: rem(10);
                                // margin-bottom: rem(10);
                            }
                        }
                    }
                }
            }
        }
    }
}