@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";


.detailFilm-component {
    background-image: url(/images/black-wall.jpg);
    background-size: cover;
    background-attachment: fixed;

    .detailFilm__info {
        .detailFilm__infoCenter {
            .film-name {
                font-family: 'SourceSansPro Bold';
                color: $color-yellow-default;
                text-transform: uppercase;
            }

            ul {
                label {
                    width: rem(100);
                }
            }

            .group-btn {
                .btn:focus {
                    box-shadow: unset;
                }

                .btn-film {
                    color: $color-white-default;
                    background-color: $color-green-0;
                    border-color: $color-green-0;

                    .icon {
                        margin-right: rem(10);
                    }
                }
            }
        }

        .detailFilm__infoRight {
            .borderRating {
                span {
                    width: rem(70);
                    height: rem(70);
                    border: 2px solid $color-red-0;
                    display: inline-block;
                    text-align: center;
                    line-height: rem(68);
                    border-radius: 50%;
                    font-weight: bold;
                    font-size: rem(25);
                }
            }
        }
    }

    .detailFilm__showtimes {
        .detailFilm__day__title {
            position: relative;
            background: #ffd70c;
            display: inline-block;
            padding: 5px 10px;
            z-index: 1;
            margin-top: 30px;
        
            &::after {
                content: '';
                position: absolute;
                display: inline-block;
                width: 50px;
                height: 100%;
                transform: skew(-30deg, 0);
                right: -30px;
                top: 0;
                z-index: -1;
                background: #ffd70c;
            }
        
            span {
                font-size: 1.2em;
            }
        }

        .detailFilm__brand {
            margin-bottom: rem(30);
            
            ul {
                display: flex;
                margin-left: -30px;
            }
           
            img {
                width: 50px;
                height: 50px;
                margin-bottom: rem(10);
            }
    
            li {
                padding: rem(15) rem(30);
                text-align: center;
                cursor: pointer;
                filter: grayscale(1);
                transition: 0.2s; 

                &.active {
                    filter: grayscale(0);
                }

                &:hover {
                    filter: grayscale(0);
                    transform: scale(1.2);
                }
            }
        }

        .detailFilm__day {
            margin-bottom: rem(30);

            p {
                width: rem(70);
                height: rem(70);
                text-align: center;
                font-size: rem(18);
                

                span {
                    display: inline-block;
                    width: 100%;
                    line-height: rem(30);
                    height: rem(26);
                    margin-bottom: rem(8);
                }
            }
            
            ul {
                display: flex;
            }

            li {
                cursor: pointer;
                margin-right: rem(15);
            }

            li.active {
                p {
                    background: $color-white-default;
                    border-radius: 5px;
                    color: $color-black-0;
                    font-weight: bold;

                    span {
                        background: $color-red-1;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                }
            }
        }
    

        .detailFilm__time {
            .detailFilm__timeItem {
                padding-bottom: rem(30);
            }

            .detailFilm__left {
                .detailFilm__leftItem {
                    width: 80%;
                    background-color: $color-background-default;
                    padding: rem(15);
                    margin-bottom: rem(25);
                    border-radius: 15px;
                    cursor: pointer;

                    &.active {
                        border: 2px solid $color-green-0;
                    }
                
                    .inside {
                        .title {
                            color: $color-white-default;
                            font-size: rem(16);
                        }

                        p {
                            color: $color-grey-1;
                            font-size: rem(12);
                        }
                    }
                }
            }

            .detailFilm__right {

                .detailFilm__rightItem {
                    .cinema__timedetail {
                        li {
                            display: inline-block;
                            position: relative;
                            z-index: 1;
                            text-align: center;
                            cursor: pointer;
                            width: rem(70);
                            height: rem(35);
                            line-height: rem(35);
                            margin-right: rem(10);
                            margin-bottom: rem(10);
                            transition: 0.2s ease-in;

                            &::before {
                                content: '';
                                width: calc(100% - 12px);
                                height: calc(100% - 6px);
                                border: 1px solid $color-black-0;
                                position: absolute;
                                top: 3px;
                                left: 6px;
                            }

                            &::after {
                                content: '';
                                width: 100%;
                                height: 100%;
                                background-image: url(/images/ticket-brown.png);
                                background-repeat: no-repeat;
                                -webkit-background-size: 100px 45px;
                                background-size: cover;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: -1;
                            }

                            &:hover {
                                transform: rotate(-5deg) scale(1.1);
                            }

                            a {
                                color: $color-black-0;
                            }
                        }
                    }
                }
            }
        }
    }
}