@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";

.detailuser-component {
    background-image: url('/images/black-wall.jpg');
    background-size: cover;
    background-attachment: fixed;

    .ant-tabs {
        background-color: rgba(0,0,0,0.6);
        padding: rem(20);
    }

    .ant-tabs-top > .ant-tabs-nav::before {
        border-bottom: unset;
    }

    .ant-tabs-tab-btn {
        color: $color-white-default;
        font-size: rem(20);
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: $color-yellow-default;
    }

    .ant-tabs-ink-bar {
       background-color: $color-yellow-default;
    }

    .ant-tabs-tab-btn:focus {
        color: $color-yellow-default;
    }

    .addUserModal__title {
        margin-bottom: rem(30);
        background-color: $color-grey-3;
        color: $color-white-default;
        font-size: rem(16);
    
        .title {
            color: $color-yellow-default;
            padding: rem(20);
        }
    }
    
    .detailuser__info {
        .detailuser__info-content {
            padding: rem(30);
            border-radius: 6px;
            border: 1px solid $color-grey-2;
        }
    
        .addUserModal__form {
            margin-left: rem(-15);
            margin-right: rem(-15);
        
            .ant-form-item-label > label {
                color: $color-white-default;
                font-size: rem(16);
            }
            
            .ant-input {
                color: $color-white-default;
                background-color: $color-background-default;
                border: 1px solid transparent;
                height: 46px;
                border-radius: 6px;
                padding: 0 rem(20);
    
                &:focus {
                    box-shadow: unset;
                    border: 1px solid $color-yellow-default;
                }
            }
            
            .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
                background-color: $color-grey-3;
                border: 1px solid transparent;
                height: 46px;
                border-radius: 6px;
                padding: 0 rem(20);
                
            }
            
            .ant-form-item {
                display: inline-block;
                width: 50%;
                padding: 0 rem(15);
            }
        
            .ant-form-item.form-btn {
                width: 100%;
            }
    
            .ant-select-arrow .anticon > svg {
                color: $color-yellow-default;
            }
            
            .ant-btn {
                font-size: rem(16);
                height: auto;
                background-color: transparent;
                color:  rgba(255,255,255,0.7);
                border-radius: 6px;
                border: 1px solid $color-yellow-default;
                padding: rem(10) rem(20);
            }
            
            input::placeholder {
                color: $color-grey-6;
                font-size: rem(16);
            }
        }
    }

    .detailuser__history {
        .detailuser__history-content {
            padding: rem(30);
            border-radius: 6px;
            border: 1px solid $color-grey-2;
            color: $color-white-default;

            p {
                color: $color-white-default;
                font-size: rem(16);
            }

            .name-film {
                color: $color-yellow-default;
            }
        } 
    }
}

@include responsive('large') {
}

@include responsive('medium') {
}

@include responsive('small') {
    .detailuser-component {
        .detailuser__info {
            .addUserModal__form { 
                .ant-form-item {
                    width: 100%;
                }
            }
        }
    } 
}