// variable color
$color-black-0: #000000; // default

$color-yellow: yellow;



$color-green-default: #87C146;
$color-white-default: #ffffff;
// variable font-size
$font-size-base-px: 16;
$font-size-base: 1rem;

