// variable color
$color-black-0: #000000; 
$color-black-1: rgba(0, 0, 0, 0.5); 

$color-green-0: #87C146;

$color-red-0: #f8090f;

$color-orange-0: #fe7900;

$color-grey-0: rgba(255,255,255,0.2);
$color-grey-1: #97a5be;


$color-background-default: #1a191f;
$color-yellow-default: #ffd80e;
$color-white-default: #ffffff;
$color-grey-default: rgba(255,255,255,0.5);



// variable font-size
$font-size-base-px: 16;
$font-size-base: 1rem;

// //variable padding
// $pd-0: 5px; 
// $pd-1: 10px;
// $pd-2: 15px;
// $pd-3: 20px;
// $pd-4: 25px;
// $pd-5: 30px;

// //variable margin
// $mg-0: 5px;
// $mg-1: 10px;
// $mg-2: 15px;
// $mg-3: 20px;
// $mg-4: 25px;
// $mg-5: 30px;



