@font-face {
    font-family: 'SourceSansPro Regular';
    src: url('/fonts/SourceSansPro-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'SourceSansPro Bold';
    src: url('/fonts/SourceSansPro-Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'SourceSansPro SemiBold';
    src: url('/fonts/SourceSansPro-SemiBold.ttf') format('truetype');
  }
  
  
  @font-face {
    font-family: 'Ranchers Regular';
    src: url('/fonts/Ranchers-Regular.ttf') format('truetype');
  }

body {
    font-family: 'SourceSansPro Regular';
    color: $color-white-default;
    font-size: rem(16);
    background-color: $color-black-0;
}
 
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: unset;
}

a:hover {
    color: unset;
}

.component-padding {
    padding: rem(50) 0;
}

// Custom scrollbar browser
/* width */
::-webkit-scrollbar {
    width: 10px;
    padding: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px; 
    padding: 0 3px;
    width: 6px;
  }

.page-content {
    padding-top: 80px;
}

select option {
    margin: 40px;
    background: #1a191f;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

// calendar icon input
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

@include responsive('large') {
    
}

@include responsive('medium') {

}

@include responsive('small') {
  html {
      font-size: 14px;
  }

  .page-content {
    padding-top: 65px;
    }
}
  



