@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";

.usermanagement-component {
    min-height: 100vh;

    .usermanagement__content {
        .usermanagement__title {
            height: 80px;
            border-bottom: 1px solid $color-grey-2;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                color: $color-white-default;
            }

            &-right {
                display: flex;
                align-items: center;

                .search {
                    position: relative;

                    input {
                        width: rem(240);
                        height: 40px;
                        border-radius: 6px;
                        background-color: $color-grey-3;
                        border: 1px solid transparent;
                        padding-left: 10px;
                    }
    
                    .icon {
                        position: absolute;
                        top: 0;
                        right: 20px;
                        height: 40px;
                    }
                }
            }

            .add {
                display: inline-block;
                padding: rem(10) rem(15);
                border-radius: 6px;
                border: 2px solid $color-green-1;
                text-align: center;
            }
        }

        .usermanagement__table {
            .table {
                color: $color-white-default;
                th {
                    font-size: rem(12);
                    border-top: unset;
                    border-bottom: unset;
                }

                td {
                    border-top: unset;
                }

                tbody {
                    tr {
                        background-color: $color-grey-3;
                        border-bottom: 10px solid $color-background-default;
                    }
                }

                .group-icon {
                    .icon-bg {
                        display: inline-block;
                        width: rem(30);
                        height: 30px;
                        text-align: center;
                        line-height: rem(30);
                        border-radius: 6px;
                    }

                    .icon-edit {
                        color: $color-blue-0;
                        margin-right: 10px;
                        background-color: $color-grey-4;
                    }
                    .icon-delete {
                        color: $color-red-2;
                        background-color: $color-grey-4;
                    }
                }
            } 
        }

        .usermanagement__pagination {
            display: flex;
            justify-content: space-between;
            margin: rem(30) 0;

            span {
                background-color: $color-grey-3;
                padding: 0 rem(15);
                line-height: 40px;
            }

            .paginator {
                display: flex; 
                background-color: $color-grey-3;
                align-items: center;

                &__item {
                    &:hover a {
                        color: $color-yellow-default;
                    }

                    &.active a {
                        border-radius: 6px;
                        border: 1px solid $color-yellow-default;
                    }

                    a {
                        display: inline-block;
                        height: 40px;
                        width: rem(40);  
                        line-height: rem(39);
                        text-align: center;
                    }
                }
            }
        }
    }
}


.profile__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 30px;
    height: 80px;
    background-color: rgba(210,201,255,0.04);
    color: $color-white-default;
    font-size: rem(16);

    .profile__user {
        display: flex;
        align-items: center;

        .profile__avatar {
            width: 40px;
            height: 40px;
            margin-right: 12px;

            .icon {
                width: 100%;
                height: 100%;
            }
        }
    }
    .profile__action {
        .btn-delete {
            background-color: $color-red-2;
        }
    }
}

.profile__details {
    .profile__details-left {
        padding: 30px;
        // margin-bottom: 30px;
        border-radius: 6px;
        border: 1px solid rgba(210,201,255,0.1);
    }

    .profile__details-right {
        padding: 30px;
        border-radius: 6px;
        border: 1px solid rgba(210,201,255,0.1);
    }

    .title {
        color: $color-white-default;
        font-weight: bold;
        margin-bottom: 25px;
    }

    .profile__form {
        margin-left: -15px;
        margin-right: -15px;
    
        .ant-form-item-label > label {
            color: $color-white-default;
            font-size: rem(16);
        }
        
        .ant-input {
            color: $color-white-default;
            background-color: rgba(210,201,255,0.04);
            border: 1px solid transparent;
            height: 46px;
            border-radius: 6px;
            padding: 0 20px;

            &:focus {
                box-shadow: unset;
                border: 1px solid $color-yellow-default;
            }
        }
        
        .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
            background-color: rgba(210,201,255,0.04);
            border: 1px solid transparent;
            height: 46px;
            border-radius: 6px;
            padding: 0 20px;
            
        }
        
        .ant-form-item {
            display: inline-block;
            width: 50%;
            padding: 0 15px;
        }
    
        .ant-form-item.form-btn {
            width: 100%;
        }

        .ant-select-arrow .anticon > svg {
            color: yellow;
        }
        
        .ant-btn {
            font-size: rem(16);
            height: auto;
            background-color: transparent;
            color: rgba(255,255,255,0.7);
            border-radius: 6px;
            border: 1px solid #ffd80e;
            padding: 10px 20px;
        }
        
        input::placeholder {
            color:rgb(117, 117, 117);
            font-size: rem(16);
        }
    }
}








.ant-select {
    color: $color-white-default !important;
}

.ant-select-dropdown {
    padding: 0 !important;
    background-color:#1a191f !important;
}

.ant-select-item  {
    background-color:#1a191f !important;
    color: rgba(255,255,255,0.7) !important;
    padding: 10px 20px !important;

    &:hover, &:focus {
        color: $color-yellow-default !important;
        background-color: transparent !important;
    }
}

.ant-select-single .ant-select-selector .ant-select-selection-item {
    line-height: 44px !important;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: $color-yellow-default !important;
  box-shadow: none !important;
}


.ant-modal {
    width: 1000px !important;
    top: 20px !important;
}

.ant-modal-body {
    background-color: $color-background-default;
}

.ant-modal-close {
    top: -19px !important;
    right: -15px !important;
    color: $color-white-default !important;

    &:hover {
        color: unset;
    }

    &:focus {
        outline: none;
    }
}