@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";

.usermanagement-component {
    min-height: 100vh;

    .usermanagement__content {
        .usermanagement__title {
            height: 80px;
            border-bottom: 1px solid $color-grey-2;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .title {
                color: $color-white-default;
            }

            &-right {
                display: flex;
                align-items: center;

                .search {
                    position: relative;

                    input {
                        width: rem(240);
                        height: 40px;
                        border-radius: 6px;
                        background-color: $color-grey-3;
                        border: 1px solid transparent;
                        padding-left: 10px;

                        &:focus {
                            outline: unset;
                            border: 1px solid $color-yellow-default;
                        }
                    }
    
                    .icon {
                        position: absolute;
                        top: 0;
                        right: 20px;
                        height: 40px;
                    }
                }
            }

            .add {
                display: inline-block;
                padding: rem(10) rem(15);
                border-radius: 6px;
                border: 2px solid $color-green-1;
                text-align: center;
            }
        }

        .usermanagement__table {
            .table {
                color: $color-white-default;
                
                th {
                    font-size: rem(12);
                    border-top: unset;
                    border-bottom: unset;
                }

                td {
                    border-top: unset;
                }

                tbody {
                    tr {
                        background-color: $color-grey-3;
                        border-bottom: 10px solid $color-background-default;
                    }
                }

                .group-icon {
                    .icon-bg {
                        display: inline-block;
                        width: rem(30);
                        height: 30px;
                        text-align: center;
                        line-height: rem(30);
                        border-radius: 6px;
                    }

                    .icon-edit {
                        background-color: $color-blue-1;
                        color: $color-blue-0;
                        margin-right: 10px;
                    }
                    .icon-delete {
                        background-color: $color-red-3;
                        color: $color-red-2;
                    }
                }
            } 
        }

        .usermanagement__pagination {
            display: flex;
            justify-content: space-between;
            margin: rem(30) 0;

            span {
                background-color: $color-grey-3;
                padding: 0 rem(15);
                line-height: 40px;
            }

            .paginator {
                display: flex; 
                background-color: $color-grey-3;
                align-items: center;

                &__item {
                    &:hover a {
                        color: $color-yellow-default;
                    }

                    &.active a {
                        border-radius: 6px;
                        border: 1px solid $color-yellow-default;
                    }

                    a {
                        display: inline-block;
                        height: 40px;
                        width: rem(40);  
                        line-height: rem(39);
                        text-align: center;
                    }
                }
            }
        }
    }
}


.editUserModal__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(20);
    margin-bottom: rem(30);
    background-color: $color-grey-3;
    color: $color-white-default;
    font-size: rem(16);

    .editUserModal__user {
        display: flex;
        align-items: center;

        .editUserModal__avatar {
            width: rem(40);
            height: height(40);
            margin-right: rem(12);

            .icon {
                width: 100%;
                height: 100%;
            }
        }
    }
    .editUserModal__action {
        .btn-delete {
            background-color: $color-red-2;
        }
    }
}

.editUserModal__details {
    .editUserModal__details-left {
        padding: rem(30);
        border-radius: 6px;
        border: 1px solid $color-grey-2;
    }

    .editUserModal__details-right {
        padding: 30px;
        border-radius: 6px;
        border: 1px solid $color-grey-2;
    }

    .title {
        color: $color-yellow-default;
        margin-bottom: rem(25);
    }

    .editUserModal__form {
        margin-left: rem(-15);
        margin-right: rem(-15);
    
        .ant-form-item-label > label {
            color: $color-white-default;
            font-size: rem(16);
        }
        
        .ant-input {
            color: $color-white-default;
            background-color: $color-grey-3;
            border: 1px solid transparent;
            height: 46px;
            border-radius: 6px;
            padding: 0 rem(20);

            &:focus {
                box-shadow: unset;
                border: 1px solid $color-yellow-default;
            }
        }
        
        .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
            background-color: $color-grey-3;
            border: 1px solid transparent;
            height: 46px;
            border-radius: 6px;
            padding: 0 rem(20);
            
        }
        
        .ant-form-item {
            display: inline-block;
            width: 50%;
            padding: 0 rem(15);
        }
    
        .ant-form-item.form-btn {
            width: 100%;
        }

        .ant-select-arrow .anticon > svg {
            color: $color-yellow-default;
        }
        
        .ant-btn {
            font-size: rem(16);
            height: auto;
            background-color: transparent;
            color:  rgba(255,255,255,0.7);
            border-radius: 6px;
            border: 1px solid $color-yellow-default;
            padding: rem(10) rem(20);
        }
        
        input::placeholder {
            color: $color-grey-6;
            font-size: rem(16);
        }
    }
}


.addUserModal__title {
    margin-bottom: rem(30);
    background-color: $color-grey-3;
    color: $color-white-default;
    font-size: rem(16);

    .title {
        color: $color-yellow-default;
        padding: rem(20);
    }
}

.addUserModal__details {
    .addUserModal__details-content {
        padding: rem(30);
        border-radius: 6px;
        border: 1px solid $color-grey-2;
    }

    .addUserModal__form {
        margin-left: rem(-15);
        margin-right: rem(-15);
    
        .ant-form-item-label > label {
            color: $color-white-default;
            font-size: rem(16);
        }
        
        .ant-input {
            color: $color-white-default;
            background-color: $color-grey-3;
            border: 1px solid transparent;
            height: 46px;
            border-radius: 6px;
            padding: 0 rem(20);

            &:focus {
                box-shadow: unset;
                border: 1px solid $color-yellow-default;
            }
        }
        
        .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
            background-color: $color-grey-3;
            border: 1px solid transparent;
            height: 46px;
            border-radius: 6px;
            padding: 0 rem(20);
            
        }
        
        .ant-form-item {
            display: inline-block;
            width: 50%;
            padding: 0 rem(15);
        }
    
        .ant-form-item.form-btn {
            width: 100%;
        }

        .ant-select-arrow .anticon > svg {
            color: $color-yellow-default;
        }
        
        .ant-btn {
            font-size: rem(16);
            height: auto;
            background-color: transparent;
            color:  rgba(255,255,255,0.7);
            border-radius: 6px;
            border: 1px solid $color-yellow-default;
            padding: rem(10) rem(20);
        }
        
        input::placeholder {
            color: $color-grey-6;
            font-size: rem(16);
        }
    }
}








