@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";

.footer-component {
    background-color: $color-background-default;
    position: relative;
    color: $color-grey-default;

    h5 {
        font-size: rem(16);
        color: $color-white-default;
        margin-bottom: rem(15);
    }

    .footer__policy {
        &::before { 
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-top: 1px solid $color-yellow-default;
        }

        a {
            transition: all 0.2s ease-in;

            &:hover {
                color: $color-yellow-default;
            }
        }

        .footer__policyContent {
            padding: rem(30) 0;

            li {
                margin-bottom: rem(10);
            }

            .footer__tixFollowus {
                img {
                    width: 40px;
                    height: 40px;
                }

                ul {
                    margin-left: rem(-5);
                }
        
                li {
                    display: inline-block;
                    padding: rem(5);
                }
        
                .footer__permission {
                    img {
                        width: 150px;
                        height: unset;
                    }
                }
            }
        
            .footer__tixPay {     
                ul {
                    margin-left: rem(-5);
                }
                    
                li {
                    display: inline-block;
                    padding: rem(5);
                }
        
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
        }

    }

    .footer__address {
        border-top: 1px solid $color-grey-0;

        .footer__addressContent {
            padding: rem(30) 0;

            p {
                margin: 0;
            }
        }
    }
}