@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";

.banner-component {
    .banner__content {
        .banner__item {
            img {
                width: 100%;
            }
        }

        .slick-prev {
            left: rem(40);
            z-index: 10;
        }

        .slick-next {
            right: rem(40);
        }

        .slick-prev:before, .slick-next:before {
            color: $color-orange-0;
            font-size: rem(35);
        }
    }
}

