@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";



.moviemanagement__table {
    .table {
        color: $color-white-default;

        .table-img {
            width: rem(80);

            img {
                width: rem(60);
                height: rem(60);
                object-fit: cover;
            }
        }
        
        th {
            font-size: rem(12);
            border-top: unset;
            border-bottom: unset;
        }

        td {
            border-top: unset;
        }

        tbody {
            tr {
                background-color: $color-grey-3;
                border-bottom: 10px solid $color-background-default;
            }
        }

        .group-icon {
            .icon-bg {
                display: inline-block;
                width: rem(30);
                height: 30px;
                text-align: center;
                line-height: rem(30);
                border-radius: 6px;
                border: unset;

                &:focus {
                    outline: unset;
                }
            }

            .icon-create {
                background-color: $color-green-2;
                color: $color-green-1;
                margin-right: 10px;
            }

            .icon-edit {
                background-color: $color-blue-1;
                color: $color-blue-0;
                margin-right: 10px;
            }
            .icon-delete {
                background-color: $color-red-3;
                color: $color-red-2;
                margin-right: 10px;
            }
        }
    } 

    .pagination {
        background-color: $color-grey-3;
        color: $color-white-default;
    }

    .page-link {
        height: 40px;
        width: rem(40);  
        line-height: rem(39);
        text-align: center;
        padding: 0;
        background-color: $color-grey-3;
        color: $color-white-default;
        border: unset;

        &:focus {
            box-shadow: unset;
        }
    }

    .page-item.active .page-link {
        background-color: unset;
        border-color: unset;
        border-radius: 6px;
        border: 1px solid $color-yellow-default;
        box-shadow: unset;
    }

    .page-item.disabled .page-link {
        background-color: $color-grey-3;
        color: $color-white-default;
        border-color: unset;
    }

    nav {
        margin: 0;
        justify-content: flex-end !important;
    }
}



.editMovieModal__details {
    border-radius: 6px;
    border: 1px solid $color-grey-2;
    padding: rem(20);

    .editMovieModal__details-left {
        .form-img {
            width: 100%;
            height: 400px;
            line-height: 400px;
            background-color: rgba(210,201,255,0.04);
            margin-bottom: 20px;
            border-radius: 6px;
            text-align: center;
        }   
    }

    .editMovieModal__details-right {
        padding: rem(0) rem(20);
    }

    .title {
        color: $color-yellow-default;
        margin-bottom: rem(25);
    }

    .editMovieModal__form {
        margin-left: rem(-15);
        margin-right: rem(-15);
    
        label {
            color: $color-white-0;
            font-size: rem(16);
        }

        .form__item {
            margin-bottom: rem(20);
        }

        input {
            display: block;
            width: 100%;
            color: $color-white-default;
            background-color: $color-grey-3;
            border: 1px solid transparent;
            height: 46px;
            border-radius: 6px;
            padding: 0 rem(20);

            &:focus {
                box-shadow: unset;
                outline: unset;
                border: 1px solid $color-yellow-default;
            }
          
        }
        
        textarea {
            display: block;
            width: 100%;
            background-color: $color-grey-3;
            color: $color-white-default;
            border: 1px solid transparent;
            border-radius: 6px;
            resize: none;
            padding: 0 rem(20);

            &:focus {
                box-shadow: unset;
                outline: unset;
                border: 1px solid $color-yellow-default;
            }
        }

        .btn-update {
            outline: unset;
            font-size: rem(16);
            height: auto;
            background-color: transparent;
            color:  rgba(255,255,255,0.7);
            border-radius: 6px;
            border: 1px solid $color-yellow-default;
            padding: rem(10) rem(20);
        }
    }

}

.modal-edit-movie {
    .ant-upload-picture-card-wrapper {
        text-align: center;
    }

    .ant-upload.ant-upload-select-picture-card {
        width: 219px;
        height: 318px;
        background-color: rgba(210,201,255,0.04);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .ant-upload.ant-upload-select-picture-card > .ant-upload {
        color: $color-white-default;
    }
}

.createMovieModal__title {
    .createMovieModal__text {
        h3 {
            color: $color-yellow-default;
        }
    }
}

.createMovieModal__details {
    border-radius: 6px;
    border: 1px solid $color-grey-2;
    padding: rem(20);

    .createMovieModal__details-left {
        .form-img {
            width: 100%;
            height: 400px;
            line-height: 400px;
            background-color: rgba(210,201,255,0.04);
            margin-bottom: 20px;
            border-radius: 6px;
            text-align: center;
        }   
    }

    .createMovieModal__details-right {
        padding: rem(0) rem(20);
    }

    .title {
        color: $color-yellow-default;
        margin-bottom: rem(25);
    }
    
    label {
        color: $color-white-0;
        font-size: rem(16);
    }

    .form__item {
        margin-bottom: rem(20);
    }

    input,
    select {
        display: block;
        width: 100%;
        color: $color-white-default;
        background-color: $color-grey-3;
        border: 1px solid transparent;
        height: 46px;
        border-radius: 6px;
        padding: 0 rem(20);

        &:focus {
            box-shadow: unset;
            outline: unset;
            border: 1px solid $color-yellow-default;
        }
        
    }
    
    .btn-update {
        outline: unset;
        font-size: rem(16);
        height: auto;
        background-color: transparent;
        color:  rgba(255,255,255,0.7);
        border-radius: 6px;
        border: 1px solid $color-yellow-default;
        padding: rem(10) rem(20);
    }

}

