@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";

.header-component {
    background-color: $color-background-default;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;

    .header__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        padding: 5px 0;
    }

    li {
        display: inline-block;
    }

    .header__left {
 

      .nav-item {
        padding: 0 rem(20);
        transition: all 0.2s ease-in;

        &:nth-child(odd):hover {
          transform: rotate(-10deg) scale(1.2);
          
          a {
            color: $color-yellow-default;
          }
        }

        &:nth-child(even):hover {
          transform: rotate(10deg) scale(1.2);

          a {
            color: $color-yellow-default;
          }
        }

        .nav-text {
          display: inline-block;
          color: $color-grey-default;
          padding: 0;
          

          
        }  
      }
    }

    .header__logo {
        a {
            font-family: "Ranchers Regular";
            color: $color-white-default;
            margin: 0;
            font-size: rem(45);

            span {
              color: $color-yellow-default;
            }
        }
    }

    .header__right {
        display: flex;

        li {
          text-align: center;
          line-height: 20px;
          height: 40px;
          width: 120px;
          margin: 0 rem(10);
          border: 1px solid $color-yellow-default;
          border-radius: 6px;
          transition: all 0.2s ease-in;
        
          &:hover{
            background-color: $color-yellow-default;
            
          }

          &:hover a {
            color: $color-black-0;
            font-weight: bold;
          }

          .nav-text {
            display: block;
            width: 100%;
            height: 100%;
            line-height: 38px;
            color: $color-grey-default;
           
          }
        }
        
        .header__user {
          display: flex;
          align-items: center;
  
          .header__avatar {
              width: rem(30);
              height: rem(30);
              margin-right: rem(12);
  
              .icon {
                  margin-left: rem(5);
                  width: 100%;
                  height: 100%;
              }
          }

          .header__text {
            margin-right: rem(10);

            .nav-text {
              color: $color-yellow-default;
            }
          }
        }
    }
}


@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
.animate__swing:hover {
    -webkit-transform-origin: top center;
    transform-origin: top center;
//   -webkit-animation-name: swing;
//   animation-name: swing;
    animation: swing 2s infinite;
}



.header__mobile {
  a {
  text-decoration: none;
  color: white;
  opacity:1;
  font-family: 'work sans', sans serif;
  font-size: rem(30);
  font-weight: 400;
  transition: 200ms;
}
a:hover {
  opacity:0.5;
}
ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: block;
}


.container {
  margin-top: 50px; 
  Display: flex;
  justify-content: center;
  align-items: center;
}
.phone {
  height: 600px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.content {
  // border: 1px solid #36383F;
  // border-radius: 20px;
  width: 100%;
  height: 100vh;
  // background-color: #F5F6FA;
  background-color: transparent;
  overflow: hidden;
}
nav {
  background-color: #1E1E23;
  height: 65px;
}


#menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  left: 25px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

#menuToggle span
{
  display: flex;
  width: 29px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 95%;
  height: 100vh;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background-color: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  transition-delay: 2s;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
}




