@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@500&display=swap");

.header-component {
    background-color: $color-background-default; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;

    .header__content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        padding: 5px 0;
    }

    li {
        display: inline-block;
    }

    .header__left {
      .nav-item {
        padding: 0 rem(20);
        transition: all 0.2s ease-in;

        &:nth-child(odd):hover {
          transform: rotate(-10deg) scale(1.2);
          
          a {
            color: $color-yellow-default;
          }
        }

        &:nth-child(even):hover {
          transform: rotate(10deg) scale(1.2);

          a {
            color: $color-yellow-default;
          }
        }

        .nav-text {
          display: inline-block;
          color: $color-grey-default;
          padding: 0;
          

          
        }  
      }
    }

    .header__logo {
        a {
            font-family: "Ranchers Regular";
            color: $color-white-default;
            margin: 0;
            font-size: rem(45);

            span {
              color: $color-yellow-default;
            }
        }
    }

    .header__right {
        display: flex;

        li {
          text-align: center;
          line-height: 20px;
          height: 40px;
          width: 120px;
          margin: 0 rem(10);
          border: 1px solid $color-yellow-default;
          border-radius: 6px;
          transition: all 0.2s ease-in;
        
          &:hover{
            background-color: $color-yellow-default;
            
          }

          &:hover .nav-text {
            color: $color-black-0;
            font-weight: bold;
          }

          .nav-text {
            display: block;
            width: 100%;
            height: 100%;
            line-height: 38px;
            color: $color-grey-default;
            cursor: pointer;
          }
        }
        
        .header__user {
          display: flex;
          align-items: center;
  
          .header__avatar {
              width: rem(30);
              height: rem(30);
              margin-right: rem(12);
  
              .icon {
                  margin-left: rem(5);
                  width: 100%;
                  height: 100%;
              }
          }

          .header__text {
            margin-right: rem(10);

            .nav-text {
              color: $color-yellow-default;
            }
          }
        }
    }
}


@-webkit-keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 15deg);
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -10deg);
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 5deg);
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -5deg);
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}
.animate__swing:hover {
    -webkit-transform-origin: top center;
    transform-origin: top center;
//   -webkit-animation-name: swing;
//   animation-name: swing;
    animation: swing 2s infinite;
}


// Menu Mobile

.header__mobile {
  header {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    height: 65px;
    display: flex;
    align-items: center;
    width: 100%;
  
    &.has-login {
        justify-content: center; 
  
        .header__avatar {
            position: absolute;
            left: rem(20);
            font-size: rem(30);
        }
    }
  }
  
  .logo {
    color: #fff;
    font-size: rem(20);
    line-height: rem(50);
    padding: 0 0 0 20px;
    text-transform: capitalize;
  }
  
  .hamburger-button {
    height: 30px;
    width: 30px;
  
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 101;
  
    > span {
        background-color: $color-yellow-default;
        border-radius: 1px;
        height: 2px;
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -1px 0 0 -15px;
        transition: height 100ms;
        &:after,
        &:before {
            content: "";
            background-color: $color-yellow-default;
            border-radius: 1px;
            height: 2px;
            width: 100%;
            position: absolute;
            right: 0;
            transition: all 200ms;
        }
        &:after {
            top: -7px;
            width: 80%;
        }
        &:before {
            bottom: -7px;
            width: 40%;
        }
    }

    &.act {
        > span {
            height: 0;
  
            &:after,
            &:before {
                background-color: $color-yellow-default;
                top: 1px;
            }
  
            &:after {
                transform: rotate(45deg);
                width: 100% !important;
            }
  
            &:before {
                transform: rotate(-45deg);
                width: 100% !important;
            }
        }
    }
  }
  
  .main-menu {
    background-color: black;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    display: table;
    text-align: center;
    opacity: 0;
    transition: all 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(0);
    &.act {
        height: 100vh;
        opacity: 1;
        transform: scale(1);
        ul li {
            opacity: 1;
            transform: translateX(0);
            &:nth-child(odd) {
                text-align: left;
            }
            &:nth-child(even) {
                text-align: right;
            }
        }
    }
    ul {
        display: table-cell;
        vertical-align: middle;
        padding: 0 25%;
    }
    li {
        font-family: "Big Shoulders Stencil Text", cursive;
        display: list-item;
        padding: rem(10) 0;
        transition: all 400ms 510ms;
        opacity: 0;
        text-align: center;
        &:nth-child(odd) {
            transform: translateX(30%);
            text-align: left;
        }
        &:nth-child(even) {
            transform: translateX(-30%);
            text-align: right;
            color: $color-yellow-default;
  
            a {
                color: $color-yellow-default;
            }
        }
  
        &:first-child {
            text-align: center !important;
            position: absolute;
            top: 7%;
            left: 50%;
            transform: translateX(-50%) !important;
  
            a {
                font-size: rem(60);
            }
  
            .sub-logo {
                margin-top: -10px;
                position: relative;
                background: $color-black-0;
                padding: 0 10px;
                text-transform: capitalize;
  
                &::before {
                    content: '';
                    width: 140%;
                    height: 1px;
                    border-top: 1px solid $color-white-default;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    z-index: -1;
                    left: -20%;
                }
  
                span {
                    font-weight: bold;
                }
            }
        }
        // &:last-child {
        // 	transform: none;
        // }
    }
    a {
        color: white;
        display: inline-block;
        font-size: rem(35);
  
        &.suBtn {
            color: #fff;
        }
    }
  }

  .suBtn {
    background-color: #19b698;
    border-radius: 5px;
    padding: 10px 20px;
  }
}




