@import "src/scss/Helper/variables.scss";

.footerComponent {
    background-color: #111111;
    position: relative;

    h5 {
        color: white;
        font-size: 14px;
    }

    a {
        color: #87C146 !important;
    }

    .footer__partner {
        &::before {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            border-top: 2px solid #87C146;
        }

        &::after {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            border-bottom: 2px solid #87C146;
        }

        img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: $color-white-default;
        }

        li {
            display: inline-block;
            padding: 10px;
        }
    }

    .footer__policy {
        &::after {
            content: "";
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            border-bottom: 2px solid #87C146;
        }

        .footer__policyContent {
            padding: 30px 0;

            .footer__tixFollowus {
                img {
                    width: 40px;
                    height: 40px;
                }
        
                li {
                    display: inline-block;
                    padding: 5px;
                }
        
                .footer__permission {
                    img {
                        width: 200px;
                        height: unset;
                    }
                }
            }
        
            .footer__tixPay {         
                li {
                    display: inline-block;
                    padding: 5px;
                }
        
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
            }
        }

    }

    .footer__address {
        .footer__addressContent {
            padding: 30px 0;

            p {
                margin: 0;
            }

        }
    }
}