@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";

.partner-component {
    background-color: $color-background-default;
    padding: rem(40) 0;

    .partner__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .partner__content {
            .title {
                color: $color-white-default;
            }

            li {
                display: inline-block;
                padding: rem(10);
                transition: all .2s;
        
                &:hover {
                    transform: scale(1.2);
                }
            }

            img {
                width: rem(70);
                height: rem(70);
                border-radius: 50%;
                background-color: $color-white-default;
            }   
        }
    }
    
}


@include responsive('large') {
    
}

@include responsive('medium') {

}

@include responsive('small') {
    .partner-component {
        .partner__wrapper {
            .partner__content {
                img {
                    width: 35px;
                    height: 35px;
                }
            }    

        } 
    }
   
}