@import "src/scss/Helper/variables.scss";
@import "src/scss/Helper/mixin.scss";


.detailCinema-component {
    background-image: url(/images/black-wall.jpg);
    background-size: cover;
    background-attachment: fixed;

    .detailCinema__info {
        .detailCinema__infoRight {
            .detailCinema__address {
                .film-name {
                    font-family: 'SourceSansPro Bold';
                    color: $color-yellow-default;
                    text-transform: uppercase;
                }
    
                ul {
                    label {
                        width: rem(100);
                    }
                }
    
                .detailCinema__btn {
                    margin: rem(16) 0 ;
    
                    .btn:focus {
                        box-shadow: unset;
                    }
    
                    a {
                        color: $color-white-default;
                        background-color: $color-green-0;
                        border-color: $color-green-0;
    
                        .icon {
                            margin-right: rem(10);
                        }
                    }
                }    
            }
            
            .detailCinema__branch {
                margin-top: rem(50);

                .branch{
                    background-color: $color-black-0;
                    color: $color-white-0;
                    border-radius: 30px;
                    font-style: italic;
                    border: 1px solid rgba(255, 255, 255, 0.5);
                    margin-right: rem(16);
                    margin-bottom: rem(16);
                    transition: 0.2s;

                    &:hover {
                        color: $color-yellow-default;
                    }

                    .icon {
                        margin-right: rem(10);
                    }
                }
            }
        }
    }

    .detailCinema__showtimes {
        .detailFilm__day__title {
            position: relative;
            background: $color-yellow-default;
            display: inline-block;
            padding: rem(5) rem(10);
            z-index: 1;
            margin-top: rem(30);
        
            &::after {
                content: '';
                position: absolute;
                display: inline-block;
                width: rem(50);
                height: 100%;
                transform: skew(-30deg, 0);
                right: -30px;
                top: 0;
                z-index: -1;
                background: $color-yellow-default;
            }
        
            span {
                font-size: rem(30)
            }
        }

        .detailFilm__day {
            margin-bottom: rem(30);

            p {
                width: rem(70);
                height: rem(70);
                text-align: center;
                font-size: rem(18);
                

                span {
                    display: inline-block;
                    width: 100%;
                    line-height: rem(30);
                    height: rem(26);
                    margin-bottom: rem(8);
                }
            }
            
            ul {
                display: flex;
            }

            li {
                cursor: pointer;
                margin-right: rem(15);
                transition: 0.2s ease-in;

                &:hover p {
                    background: $color-white-default;
                    border-radius: 5px;
                    color: $color-black-0;
                    font-weight: bold;

                    span {
                        background: $color-red-1;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                }
            }

            li.active {
                p {
                    background: $color-white-default;
                    border-radius: 5px;
                    color: $color-black-0;
                    font-weight: bold;

                    span {
                        background: $color-red-1;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }
                }
            }
        }
    

        .detailFilm__time {
            .detailFilm__timeItem {
                padding-bottom: rem(30);
            }

            .detailFilm__left {
                .detailFilm__leftItem {
                    .inside-img {
                        img {
                            width: 100%;
                            background-size: cover;
                        }
                    }
    
                    .inside-text {
                        .film-type {
                            margin-bottom: rem(10);    
                            
    
                            .film-version {
                                border: 1px solid $color-green-0;
                                padding: rem(3) rem(5);
                                margin-right: rem(10);
                                display: inline-block;
                            }
        
                            .film-rating {
                                padding: rem(3) rem(5);
                                border: 1px solid $color-red-0;
                                color: $color-red-0;
                                display: inline-block;
                            } 
                        }
    
                        p {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .detailFilm__right {
                .detailFilm__rightItem {
                    .cinema__timedetail {
                        li {
                            display: inline-block;
                            position: relative;
                            z-index: 1;
                            text-align: center;
                            cursor: pointer;
                            width: rem(70);
                            height: rem(35);
                            line-height: rem(35);
                            margin-right: rem(10);
                            margin-bottom: rem(10);
                            transition: 0.2s ease-in;

                            &::before {
                                content: '';
                                width: calc(100% - 12px);
                                height: calc(100% - 6px);
                                border: 1px solid $color-black-0;
                                position: absolute;
                                top: 3px;
                                left: 6px;
                            }

                            &::after {
                                content: '';
                                width: 100%;
                                height: 100%;
                                background-image: url(/images/ticket-brown.png);
                                background-repeat: no-repeat;
                                background-size: cover;
                                position: absolute;
                                top: 0;
                                left: 0;
                                z-index: -1;
                            }

                            &:hover {
                                transform: rotate(-5deg) scale(1.1);
                            }

                            a {
                                color: $color-black-0;
                            }
                        }
                    }
                }
            }
        }
    }
}



